{% trans_default_domain 'security_mail' %}

{% extends "mail/base.html.twig" %}

{% block main_title 'register title' | trans %}

{% block title 'register title' | trans %}

{% block message 'register message' | trans | nl2br %}

{% block validation_button %}

<a href="{{ url('security_register_validation') }}?email={{ data.email }}&token={{ data.token }}" class="sm_auto_width sm_block button_link" style="min-width: 234px; border: 13px solid #53B987; border-radius: 4px; background-color: #53B987; font-size: 20px; color: #ffffff; display: inline-block; text-align: center; vertical-align: top; font-weight: 900; text-decoration: none !important; ">
    {{ "register button validation" | trans }}
</a>

{% endblock %}
