{% trans_default_domain 'unregistred_footer' %}
<footer class="page-footer mini">
    <div class="footer-copyright">
        <div class="container">
            {{ constant('App\\SiteConfig::SITENAME') }} - Copyright {{ constant('App\\SiteConfig::SITECOPYRIGHT') }} &copy; {{ constant('App\\SiteConfig::SITEDATE') }} - {{ "using" | trans }} <a class="yellow-text" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>