<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- define your env variables for the test env here -->
    </php>

    <testsuites>
        <testsuite name="Command Test Suite">
            <directory>tests/Command</directory>
        </testsuite>
        <testsuite name="Controller Test Suite">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="Event Test Suite">
            <directory>tests/Event</directory>
        </testsuite>
        <testsuite name="Security Test Suite">
            <directory>tests/Security</directory>
        </testsuite>
        <testsuite name="Service Test Suite">
            <directory>tests/Service</directory>
        </testsuite>
        <testsuite name="Stock Test Suite">
            <directory>tests/Stock</directory>
        </testsuite>
        <testsuite name="Twig Test Suite">
            <directory>tests/Twig</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>./src/Migrations/</directory>
            </exclude>
            <exclude>
                <directory>./src/DataFixtures/</directory>
            </exclude>
            <exclude>
                <file>./src/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
