#container{
    position: relative;
    width:auto;
}

video {
    margin-top:0;
    width: 100%;
    height: auto;
}

.drawingBuffer{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}

#interactive.viewport {
    width: auto;
    height: auto;
}

#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
    margin-left: 0px;
}

#interactive.viewport canvas, video {
    margin-top: 0px;
    width: 100%;
    height: auto;

}

.scanBtn{margin-top: -45px;}

.scanBtn A {margin: 0 10px;}

#result .list,#notfound .list{
margin: 1em;
color: white;
padding-bottom: 2.5em;
}

#result .list{min-height: 160px;}

#result h4,#notfound h4{
font-size: 2rem;
}

#notfound h4{padding-top: 0.5em;}

#result .input-field { margin-top:0; }

#result .mainBtn A,#notfound .mainBtn A {width: 160px;}